<!DOCTYPE html>
<html>

    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/13deb536c6.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
        <title>Captures</title>

        <script>
            $(function () {
                $("#header").load("/header");
                $("#footer").load("footer.html");
            });	
            
        </script>
    </head>

    <body>
        <div id="header"></div>
        <div class="header-spacing"></div>
        <div class="container-fluid">
        <h1 class="heading">Your Captures</h1>
        <div class="galary">

            {% for name in image_names %}
                
                <img src="{{ url_for('static', filename='captures/' + name) }}" class="img-fluid captures" title="{{name.split('.')[0]}}">
               
            {% endfor %}
        </div>



            
        </div>

    </body>
    </html>